<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Local Show</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .container{
       text-align: center
     }
      .center{
       text-align: center;
       margin-top: 25%;
       margin-bottom: 25%;
       margin-left: auto;
       margin-right: auto;
     }
    </style>

  </head>

  <body>

    <div class="container center">

      <div id="player1" class="aplayer"></div>

      <br><br>
      <br><br>

      <div class="list-group">
      {% for item in items %}
        <a id="{{ item | replace(common_path, '') }}" class="list-group-item list-group-item-action list-group-item-{{ colors | random() }}">{{ item | replace(common_path, '') }}</a>
      {% endfor %}
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script>
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    var url = window.location.href;
    var hash = url.substring(url.indexOf("#") + 1);
    if (url != hash) {
        window.location.hash = hash;
    }
    else {
	window.location.hash = getCookie("music_hash"); //location reading
    };
    </script>

    <script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function do_it() {
        var audio = document.getElementsByTagName("audio");
        if (audio[0]) {
            audio[0].remove();
        };

        var audio_url = "../files/{{ common_path }}" + this.id;
        this.outerHTML+= '<center><audio src="' + audio_url + '" type="audio/mpeg" controls autoplay></audio></center>';
        setTimeout(function(){
            document.body.querySelectorAll('audio')[0].volume = 0.3
        },100);

        setCookie("music_hash", this.id, 60); //location saving
        
        bind_all() // Every time you change non-div section, your binding will become useless. So bind it again.
        window.location.hash = this.id;
    };

    function bind_all() {
        anchors = document.getElementsByClassName("list-group-item");

        for (var i = 0; i < anchors.length; i++) {  
            anchors[i].addEventListener('click', do_it);
        };
    };

    bind_all(); // You must bind click event to all the items.
    </script>


    <script src="../static/APlayer/APlayer.min.js"></script>
    <script>
        var ap1 = new APlayer({
            element: document.getElementById('player1'),
            narrow: false,
            autoplay: false,
            showlrc: 0,
            mutex: true,
            preload: 'none',
            theme: '#ff6600',
            mode: 'random',
            listmaxheight: '230px',
            music: [
    {% for item in items %} 
                 {
                    title: '{{ item | replace(common_path, '') }}',
            author: '',
                    url: '../files/' + unescape(`{{ item }}`.replace("&#39;", "'").replace("&amp;", "&")),
                },
    {% endfor %}
             ]
        });
       ap1.volume(0.3); 
    </script>

  </body>
</html>
