<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Local Show</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .container{
       text-align: center
     }
      .center{
       text-align: center;
       margin-top: 25%;
       margin-bottom: 25%;
       margin-left: auto;
       margin-right: auto;
     }
    </style>

  </head>

  <body>

    <div class="container">

      <div class="list-group center">
      {% for item in items %}
      <a href="{{ item }}" class="list-group-item list-group-item-action">{{ item | replace(common_path, '') }}</a>
      {% endfor %}
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>
