<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
.container{
    text-align: center;
}
.file{
    margin-top: 25%;
    margin-bottom: 25%;
}
</style>
<title>Upload</title>
<div class="container">
<form method=post enctype=multipart/form-data>
    <tr>
    <td><input class="file" type="file" name="file" multiple=""></td>
    <td><input class="btn btn-primary" type="submit" value="Upload"></td>
    <tr>
</form>
<div>
