<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Local Show</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/DPlayer/DPlayer.min.css">

    <style>
      .container{
       text-align: center
     }
      .center{
       text-align: center;
       margin-top: 25%;
       margin-bottom: 25%;
       margin-left: auto;
       margin-right: auto;
     }
      .item{
       text-align: center;
       height: auto;
       word-wrap: break-word;
      }
    </style>

  </head>

  <body>

    <div class="container">

      <div class="list-group center">
      {% for item in items %}
        <a id="{{ item | replace(common_path, '') }}" class="list-group-item list-group-item-action list-group-item-{{ colors | random() }} item">{{ item | replace(common_path, '') }}</a>
      {% endfor %}
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/DPlayer/DPlayer.min.js"></script>

    <script>
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    var url = window.location.href;
    var hash = url.substring(url.indexOf("#") + 1);
    if (url != hash) {
        window.location.hash = hash;
    }
    else {
	window.location.hash = getCookie("video_hash"); //location reading
    };
    </script>

    <script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function add_player(video_url) {
        var dp = new DPlayer({
	    element: document.getElementById("my_player"),
	    autoplay: true,
	    loop: false,
	    video: {
		url: video_url 	    
	    }
	});
    };

    function do_it() {
        var my_div = document.getElementById("my_player");
        if (my_div) {
            my_div.remove();
        };
        var my_link = document.getElementById("my_link1");
        if (my_link) {
            my_link.remove();
        };
        var my_link = document.getElementById("my_link2");
        if (my_link) {
            my_link.remove();
        };

        var video_path;
        video_path = "../files/{{ common_path }}" + this.id;
        var intent_video_path;
        intent_video_path = window.location.href.split("#")[0].split("//")[1].split("/")[0] + "/files/{{ common_path }}" + this.id;
        //video_path = decodeURI(video_path);
        //intent_video_path = decodeURI(intent_video_path);

        var added;
        added = `
<div id="my_player"></div>
<a id="my_link1" href='intent://${intent_video_path}#Intent;action=android.intent.action.VIEW;scheme=http;type=video/mp4;end'>MX Player</a>
<a id="my_link2" href='${video_path}'>Download</a>
            `;
        //added += '<a href=' + video_path + '>Download</a>';
        this.outerHTML+= added;
        if (document.getElementById("my_player")) {
            add_player(video_path);
            setCookie("video_hash", this.id, 60); //location saving
        };

        bind_all() // Every time you change non-div section, your binding will become useless. So bind it again.
        window.location.hash = this.id;
    };
    
    function bind_all() {
        anchors = document.getElementsByClassName("list-group-item");

        for (var i = 0; i < anchors.length; i++) {  
            anchors[i].addEventListener('click', do_it);
        };
    };

    bind_all(); // You must bind click event to all the items.
    </script>

  </body>
</html>
